## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

LAKSHMI C R
211719104066

** What is 7 to the power of 4?**

In [1]:
x=pow(7,4)
print(x)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there Sam!"
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [3]:
txt="The diameter of  {planet} is {diameter} kilometers.".format(planet="Earth", diameter=12742)
print(txt)

The diameter of  Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [5]:
"""
Lists are mutable - Tuples are immutable
Lists consumes more memory  - Tuples consumes less memory as compared to list
Lists have several built-in methods - Tuple does not have many built-in methods.
"""

'\nLists are mutable - Tuples are immutable\nLists consumes more memory  - Tuples consumes less memory as compared to list\nLists have several built-in methods - Tuple does not have many built-in methods.\n'

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(input):
    return input.split('@')[1]

In [6]:
domainGet('user@domain.com')

NameError: ignored

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [7]:
def findDog(inp):
    return 'dog' in inp.lower().split()
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [10]:
def countDog(inp):
    dog = 0
    for x in inp.lower().split():
        if x == 'dog':
            dog += 1
    return dog
countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [13]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [14]:
caught_speeding(81,False)

'Big Ticket'

In [15]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [16]:
Employee=[11000,12000,13000,14000,15000]
total=0
for i in Employee:
  total +=i
print(total)

65000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [18]:
Dict1={'EmpId':201,'EmpName':'Mohana','Basicpay':12000}
Dict2={'DeptName':'Research','DeptId':3}
Dict3=Dict1.copy()
Dict3.update(Dict2)
print(Dict3)

{'EmpId': 201, 'EmpName': 'Mohana', 'Basicpay': 12000, 'DeptName': 'Research', 'DeptId': 3}